<header class="container">
	<h1>Angular testing</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab alias aliquam aut consectetur dolore eius est, excepturi explicabo facilis, inventore ipsa iste iusto laboriosam nemo officia omnis quae quisquam quo quod rem repudiandae sed sunt! Ab animi aperiam, architecto deleniti distinctio illo, molestiae non odit officiis rerum, temporibus veniam.</p>
	<nav>
		<ul>
			<li>
				<a routerLink="">Home</a>
			</li>
			<li>
				<a routerLink="/products">Products</a>
			</li>
			<li>
				<a routerLink="/miligram-preview">Miligram preview</a>
			</li>
		</ul>
	</nav>
</header>
<router-outlet></router-outlet>
